<div style="text-align: center">
<h1>
  Welcome to {{title}}!
</h1>
</div>

<table class="table table-sm table-striped">
    <tr>
    <th>Name</th>
    <td>{{movie?.name || 'Loading Data..'}}</td>
    </tr>
    <tr>
    <th>Category</th>
    <td>{{movie?.category || 'Loading Data..'}}</td>
    </tr>
    <tr>
    <th>Description</th>
    <td>{{movie?.description || 'Loading Data..'}}</td>
    </tr>
    <tr>
      <th>Price</th>
    <td>{{movie?.price || 'Loading Data..'}}</td>
    </tr>
  </table>
